[submodule "extension/atopwi"]
	path = extension/atopwi
	url = git@github.com:johnjbarton/atopwi.git
[submodule "extension/OrionEditorEmbedded"]
	path = extension/OrionEditorEmbedded
	url = git@github.com:johnjbarton/OrionEditorEmbedded.git
[submodule "extension/MetaObject"]
	path = extension/MetaObject
	url = git@github.com:johnjbarton/MetaObject.git
[submodule "extension/orion.client"]
	path = extension/orion.client
	url = https://github.com/eclipse/orion.client.git
[submodule "extension/crx2app"]
	path = extension/crx2app
	url = git@github.com:johnjbarton/crx2app.git
